################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetCoreWebApiSample/src/DotNetCoreWebApiSample/Logs
